/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Alice', serif;
  background-color: #e5e5e5;
}

/* ---------------------------------------------------- */

.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: repeat(5, 200px);
  gap: 20px;
}

figure {
	margin: 0;
	padding: .3rem ;
	border-radius: .2rem;
	background-color: #f2f0f0;
	box-shadow: 1px 1px 5px 1px #a4a1a9;	
}

figcaption {
	text-align: center;	
}

figure img {
  width: 100%;
}

figure:nth-child(6n) {
	transform: rotate(8deg);
}

figure:nth-child(6n + 2 ) {
	transform: rotate(-3deg);
}

figure:nth-child(6n + 3) {
	transform: rotate(3deg);
}

figure:nth-child(6n + 4) {
	transform: rotate(-2deg);
}

figure:nth-child(6n + 5) {
	transform: rotate(-8deg);
}