<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Muj web - {{ title }}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<header>
		<h1>Tvuj webik</h1>

		<nav class="menu">
			<a href="/">Uvod</a>
			<a href="/onas/">O nas</a>
			<a href="/produkty/">Produkty</a>
			|
			<a href="/kariera/">Kariéra</a>
			|
			<a href="/onas/#sekce1">sekce 1</a>
			<a href="/onas/#sekce2">sekce 2</a>
		</nav>

		<hr>
	</header>
