{% include "partials/page-top.njk" %}


	<main>
		{{ content | safe }}
	</main>


	<hr>

	<ul>
	{% for novinka in collections.novinky | reverse %}
		{% if loop.index <= 3 %}
			<li>
				<a href="{{ novinka.url }}">
					{{ novinka.data.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>


{% include "partials/page-bottom.njk" %}