html {
	box-sizing: border-box;
}
*, ::before, ::after {
	box-sizing: inherit;
}


body {
	margin: 0;
	font-family: $font-body;
	font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
	font-family: $font-special;
	margin: 0;
}

p {
	margin: 0;
}


.content-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $pad;
}