.benefit-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: $pad;
}

.benefit-tile {
  background-color: $color-light;
  @include flex-center;
  padding: $pad;
}

.benefit-tile__icon {
  width: 40px;
  height: 40px;
}

.benefit-tile__title {
  color: $color-primary;
  padding-top: $text-space;
}

.benefit-tile__description {
  text-align: center;
  padding-top: $text-space;
}

@media (min-width: 800px) {
  .benefit-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .benefit-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
