.menu-btn {
  @include flex-center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.menu-btn__burger {
  width: 30px;
  height: 5px;
  background-color: $color-primary;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: $color-primary;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(10px);
}

.menu-btn__burger::after {
  transform: translateY(-10px);
}

.menu-btn.menu-btn--open .menu-btn__burger {
  background-color: transparent;
}

.menu-btn.menu-btn--open .menu-btn__burger::before {
  transform: rotate(45deg);
}

.menu-btn.menu-btn--open .menu-btn__burger::after {
  transform: rotate(-45deg);
}