.news-item {
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  padding: $pad;
}

.news-item__date {
  color: $color-grey;
}

.news-item__title {
  padding-top: $text-space;
  color: $color-primary;
}

.news-item__description {
  padding-top: $text-space;
}