.offer-tile {
  width: 100%;
  position: relative;
  
}

.offer-tile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-tile__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $color-bright;

  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 50%);
}

.offer-tile__price {
  width: fit-content;
  background-color: $color-primary;
  color: $color-bright;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.offer-tile__text {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

//?? jak dynamic font size
.offer-tile__title {
  font-size: 2em; 
}

.offer-tile__description {
  font-size: 1.2em;
}



