// barvy
$color-primary:			#f03000;

$color-dark:				#444444;
$color-grey:				#888888;
$color-light:				#e5e5e5;
$color-bright:			#f5f5f5;


// pisma
$font-body:					'Open Sans', sans-serif;
$font-special:			'Montserrat', sans-serif;

// padding
$pad:								20px;
$text-space:        15px;


