html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 20px;
}

.header__menu {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__item {
  text-decoration: none;
  color: #f03000;
  font-weight: bold;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .5s ease, color .5s ease;
  transition: background-color .5s ease, color .5s ease;
}

.header__item:hover {
  background-color: #f03000;
  color: #f5f5f5;
}

.tile-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
}

.tile-grid :first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.tile-grid--right {
  grid-auto-flow: dense;
}

.tile-grid--right :first-child {
  grid-column: span 2 / -1;
}

.offer-tile {
  width: 100%;
  position: relative;
}

.offer-tile__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer-tile__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(25%, rgba(0, 0, 0, 0.25)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%);
}

.offer-tile__price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f03000;
  color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.offer-tile__text {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer-tile__title {
  font-size: 2em;
}

.offer-tile__description {
  font-size: 1.2em;
}

.benefit-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefit-tile {
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.benefit-tile__icon {
  width: 40px;
  height: 40px;
}

.benefit-tile__title {
  color: #f03000;
  padding-top: 15px;
}

.benefit-tile__description {
  text-align: center;
  padding-top: 15px;
}

.news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.news-item {
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.section__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f03000;
}

.section__title--dark {
  color: #444444;
}

.content-wrap {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}
/*# sourceMappingURL=style.css.map */