$myFont: 'Courier New', Courier, monospace;
$myHeader: #dfe445;
$myColor: darkred;
$darkerColor: lighten($myColor, 40%);
$myButton: 5em;
$buttonText: #fff;
$buttonFont: Verdana, Geneva, Tahoma, sans-serif;